force-app/main/default/flows/BillingPostalCodeChangeHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Select_Random_Owner</name>
        <label>Select Random Owner</label>
        <locationX>770</locationX>
        <locationY>1247</locationY>
        <actionName>RandomOwnerSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>territoryLists</name>
            <value>
                <elementReference>Sales_Representatives</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RandomOwnerSelector</nameSegment>
        <outputParameters>
            <assignToReference>Chosen_Sales_Rep</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_AccountToUpdate</name>
        <label>Assign AccountToUpdate</label>
        <locationX>770</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>AccountChanged</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_a_Test</name>
        <label>Is a Test?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_is_a_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Control__c.Disable_Flow_For_Testing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes is a Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_same_Sales_Rep</name>
        <label>Is the same Sales Rep?</label>
        <locationX>990</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Sales_Rep.Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_is_Sales_Rep</name>
        <label>There is Sales Rep?</label>
        <locationX>462</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Representatives</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BillingPostalCodeChangeHandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BillingPostalCodeChangeHandler</label>
    <loops>
        <name>Loop_Sales_Rep</name>
        <label>Loop Sales Rep</label>
        <locationX>770</locationX>
        <locationY>755</locationY>
        <collectionReference>Sales_Representatives</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_same_Sales_Rep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Random_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assignment_History</name>
        <label>Create Assignment History</label>
        <locationX>770</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Get_Previous_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Territory__c</field>
            <value>
                <elementReference>Get_New_Territory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Territory__c</field>
            <value>
                <elementReference>Get_Previous_Territory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Assignment_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Territories</name>
        <label>Get Matching Territories</label>
        <locationX>462</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_Sales_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </filters>
        <object>Territory__c</object>
        <outputReference>Sales_Representatives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Owner</name>
        <label>Get New Owner</label>
        <locationX>770</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AccountToUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Territory</name>
        <label>Get New Territory</label>
        <locationX>770</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Assignment_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Owner</name>
        <label>Get Previous Owner</label>
        <locationX>770</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Territory</name>
        <label>Get Previous Territory</label>
        <locationX>462</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.BillingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>770</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update_Related_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Chosen_Sales_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contacts</name>
        <label>Update Related Contacts</label>
        <locationX>770</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Update_Related_Open_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Chosen_Sales_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Open_Opportunities</name>
        <label>Update Related Open Opportunities</label>
        <locationX>770</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_New_Territory</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Chosen_Sales_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_a_Test</targetReference>
        </connector>
        <filterFormula>ISNEW() &amp;&amp; NOT(ISBLANK({!$Record.BillingPostalCode})) || ISCHANGED({!$Record.BillingPostalCode})</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>770</locationX>
        <locationY>2219</locationY>
        <flowName>Ownership_Notification_Email</flowName>
        <inputAssignments>
            <name>AccountsChanged</name>
            <value>
                <elementReference>AccountChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewOwner</name>
            <value>
                <elementReference>Get_New_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PreviousOwner</name>
            <value>
                <elementReference>Get_Previous_Owner</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountChanged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Chosen_Sales_Rep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Sales_Representatives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
</Flow>
