force-app/main/default/flows/MaxSalesRepsPerZipCode_Validation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Territories_Qnty</name>
        <label>Territories Qnty</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>NumberOfTerritories</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Territory_Loop</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>SalesRepLimitExceededError</name>
        <label>SalesRepLimitExceededError</label>
        <locationX>264</locationX>
        <locationY>803</locationY>
        <customErrorMessages>
            <errorMessage>No more Sales Representatives are allowed to be created with this same zip code (maximum of three per zip code).</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Number_of_Sales_Reps</name>
        <label>Check Number of Sales Reps</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>SalesRepLimitExceededError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Rep are more than 3</defaultConnectorLabel>
        <rules>
            <name>Sales_Rep_are_less_than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_Count_Less_Than_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sales Rep are less than 3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Territory_Count_Less_Than_3</name>
        <dataType>Boolean</dataType>
        <expression>{!NumberOfTerritories}&lt;3</expression>
    </formulas>
    <interviewLabel>MaxSalesRepsPerZipCode Validation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MaxSalesRepsPerZipCode Validation Flow</label>
    <loops>
        <name>Territory_Loop</name>
        <label>Territory Loop</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Territory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Territories_Qnty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_Sales_Reps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Territory_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zip_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Territory</targetReference>
        </connector>
        <object>Territory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberOfTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
