force-app/main/default/flows/Ownership_Change_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ownership_Notification</name>
        <label>Ownership Notification</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Transfer Notification: {!Get_Account.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account: {!Get_Account.Name} changed ownership from {!PreviousOwnerName} to {!NewOwnerName}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Ownership_Notification_Without_Previous_Owner</name>
        <label>Ownership Notification Without Previous Owner</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Transfer Notification: {!Get_Account.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account: {!Get_Account.Name} changed ownership to {!NewOwnerName}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_New_Owner</name>
        <label>Assignment New Owner</label>
        <locationX>468</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_New_Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Owner.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Previous_Owner</name>
        <label>Assignment Previous Owner</label>
        <locationX>468</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Previous_Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Previous_Owner.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousOwner.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Previous_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Previous_Owner</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>New_Owner</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>New Owner</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <assignNextValueToReference>currentItem_New_Owner</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Owners</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_New_Owner.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.New_Owner__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_New_Owner</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Previous_Owner</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Previous Owner</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Previous_Owner</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Owners</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Previous_Owner.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Previous_Owner__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Previous_Owner</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>There_is_a_Previous_Owner</name>
        <label>There is a Previous Owner?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Ownership_Notification_Without_Previous_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PreviousOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousOwner.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ownership_Notification</targetReference>
            </connector>
            <label>Yes PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Owner_Changed</name>
        <label>Was the Owner Changed?</label>
        <locationX>380</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Previous_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>There_is_a_Previous_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ownership Change Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ownership Change Notification</label>
    <loops>
        <name>Loop_New_Owner</name>
        <label>Loop New Owner</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Owners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_New_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_the_Owner_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Previous_Owner</name>
        <label>Loop Previous Owner</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <collectionReference>Previous_Owner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Previous_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owners</name>
        <label>Get Owners</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Previous_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Owners</targetReference>
        </connector>
        <filterFormula>{!$Record.New_Owner__c}&lt;&gt;{!$Record.Previous_Owner__c}</filterFormula>
        <object>Assignment_History__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_New_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Previous_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NewOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NewOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PreviousOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PreviousOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
