force-app/main/default/flows/Ownership_Notification_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ownership_Notification</name>
        <label>Ownership Notification</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Loop_Email.Name} Transfer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account: {!Loop_Email.Name} changed ownership from {!PreviousOwner.Name} to {!NewOwner.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Ownership_Notification_WO_Previous_Owner</name>
        <label>Ownership Notification WO Previous Owner</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Email_WO_PO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Loop_Email.Name} Transfer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account: {!Loop_Email.Name} changed ownership to {!NewOwner.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Emails</name>
        <label>Assign Emails</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOwner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreviousOwner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Previous_Owner</name>
        <label>Previous Owner?</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_Email_WO_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Email</targetReference>
            </connector>
            <label>Yes there is</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ownership Notification Email</label>
    <loops>
        <name>Loop_Email</name>
        <label>Loop Email</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>AccountsChanged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ownership_Notification</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Email_WO_PO</name>
        <label>Loop Email WO PO</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <collectionReference>AccountsChanged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ownership_Notification_WO_Previous_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Emails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsChanged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PreviousOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
