force-app/main/default/flows/Scheduled_Account_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Select_Random_Owner</name>
        <label>Select Random Owner</label>
        <locationX>358</locationX>
        <locationY>1200</locationY>
        <actionName>RandomOwnerSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Territory</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>territoryLists</name>
            <value>
                <elementReference>Valid_Territories</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RandomOwnerSelector</nameSegment>
        <outputParameters>
            <assignToReference>ChosenSalesRep</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Account_Assignments</name>
        <label>Account Assignments</label>
        <locationX>358</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>AssignmentHistoryToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignmentHistoryToCreate.Changed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignmentHistoryToCreate.New_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenSalesRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignmentHistoryToCreate.New_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_New_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignmentHistoryToCreate.Previous_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignmentHistoriesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignmentHistoryToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Loop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenSalesRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Related_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ZipCodes</name>
        <label>Add ZipCodes</label>
        <locationX>270</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>ZipCodeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Territories.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Owner_Cont</name>
        <label>Assignment Owner Cont</label>
        <locationX>446</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_Contacts.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenSalesRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Owner_Opp</name>
        <label>Assignment Owner Opp</label>
        <locationX>446</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_Opportunities.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenSalesRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Opportunities</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Actual_Territory_Search</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Actual Territory Search</label>
        <locationX>490</locationX>
        <locationY>876</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Territories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_1.Zip_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Account_Loop.BillingPostalCode</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_1.Owner__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Account_Loop.OwnerId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_Owner_Correct</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>New_Territory</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>New Territory</label>
        <locationX>358</locationX>
        <locationY>1308</locationY>
        <assignNextValueToReference>currentItem_New_Territory</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Territories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_New_Territory.Zip_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Account_Loop.BillingPostalCode</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_New_Territory.Owner__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>ChosenSalesRep</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Account_Assignments</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Valid_Territories</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Valid Territories</label>
        <locationX>358</locationX>
        <locationY>1092</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Territories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_2.Zip_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Account_Loop.BillingPostalCode</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Random_Owner</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Is_Owner_Correct</name>
        <label>Is Owner Correct?</label>
        <locationX>490</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Account_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_is_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Collection_Filter_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Territories</targetReference>
            </connector>
            <label>No is Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_any_Missmatch</name>
        <label>Was there any Missmatch?</label>
        <locationX>182</locationX>
        <locationY>2508</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Scheduled Account Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Account Check</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_All_Accounts_w_BillingPostalCode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actual_Territory_Search</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_there_any_Missmatch</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Contacts</name>
        <label>Loop Related Contacts</label>
        <locationX>358</locationX>
        <locationY>1740</locationY>
        <collectionReference>Get_All_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Owner_Cont</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Related_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Opportunities</name>
        <label>Loop Related Opportunities</label>
        <locationX>358</locationX>
        <locationY>2040</locationY>
        <collectionReference>Get_All_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Owner_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Territories</name>
        <label>Loop Territories</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_All_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ZipCodes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Accounts_w_BillingPostalCode</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assignment_History</name>
        <label>Create Assignment History</label>
        <locationX>50</locationX>
        <locationY>2940</locationY>
        <inputReference>AssignmentHistoriesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Accounts_w_BillingPostalCode</name>
        <label>Get All Accounts w BillingPostalCode</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingPostalCode</field>
            <operator>In</operator>
            <value>
                <elementReference>ZipCodeList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Contacts</name>
        <label>Get All Related Contacts</label>
        <locationX>358</locationX>
        <locationY>1524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Opportunities</name>
        <label>Get All Related Opportunities</label>
        <locationX>358</locationX>
        <locationY>1632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Contacts</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Territories</name>
        <label>Get All Territories</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Territories</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>50</locationX>
        <locationY>2616</locationY>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>50</locationX>
        <locationY>2724</locationY>
        <connector>
            <targetReference>Update_Opportunities</targetReference>
        </connector>
        <inputReference>ContactsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>2832</locationY>
        <connector>
            <targetReference>Create_Assignment_History</targetReference>
        </connector>
        <inputReference>OppsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Territories</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-12</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssignmentHistoriesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_History__c</objectType>
    </variables>
    <variables>
        <name>AssignmentHistoryToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_History__c</objectType>
    </variables>
    <variables>
        <name>ChosenSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_New_Territory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
    <variables>
        <name>OppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ZipCodeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
